
html {
  background: url("/media/snow.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 16px;
  font-family: "DejaVu Sans",Verdana,Arial,sans-serif;
}

input {
  font-size: 14px;
  font-family: "DejaVu Sans",Verdana,Arial,sans-serif;
}

.graycover {
  display: none;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0; z-index: 10;
  background:rgba(0,0,0,0.4);
}

.box {
  background-color: #D0D0F0;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid #444444;
  border-radius: 5px;
  padding: 10px;
}
